/* style.css
 * This file provides css styles.
 */

a {
	text-decoration: none;
	color: #00aed1;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-weight: bold;
	font-size: 2em;
}

input {
	padding: 10px;
	width: 400px;
	border: solid 1px skyblue;
	margin-top: 5px;
	border-radius: 3px;
}
.expander {
	margin: 10px;
	-moz-user-select: none;
	user-select: none;
	cursor: default;
}
.expanderribbon {
	padding: 20px;
	color: white;
	font-weight: bold;
}
.expanderdata {
	padding: 20px;
	border: solid 2px gray;
	border-top: 0px;
	display: none;
}
td, th{
	padding: 10px 20px;
	border: solid 1px;
}